.backGroundContainer {
  filter: drop-shadow(0px 0px 5px var(--darkest));
  position: absolute;
  z-index: -4;
}
.backGroundImage {
  /* background-image: url("/img/maskImages/warframebg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
  top: 0;
  left: 0;
  -webkit-mask-image: url("/img/maskImages/fire-mobile.svg");
  mask-image: url("/img/maskImages/fire-mobile.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

.backGroundImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 45%);
}

@media (min-width: 768px) {
  .heroContainer {
    background: transparent;
    min-height: 800px;
    position: relative;
  }
  .backGroundImage {
    -webkit-mask-image: url("/img/maskImages/fire-tablet.svg");
    mask-image: url("/img/maskImages/fire-tablet.svg");
    min-height: 800px;
  }
}
/* Desktop and up (≥1000px) */
@media (min-width: 1000px) {
  .heroContainer {
    background: transparent;
    min-height: 720px;
    position: relative;
  }
  .backGroundImage {
    -webkit-mask-image: url("/img/maskImages/fire-desktop.svg");
    min-height: 500px;
    mask-image: url("/img/maskImages/fire-desktop.svg");
  }
}
